* {
    --wrapper-bg: #081217;
    --bg: #1a2637;
    --bg2: #111822;
    --line: #556577;
    --recovered: #70a800;
    --confirmed: #e60000;
    --cur: #081217;
    --text: #788a9e;
    --white: #fff;
    --hover: rgb(146, 162, 179);

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg2);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--line);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--wrapper-bg);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.app-container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    background-color: var(--wrapper-bg);
    padding: 5px;
}

.button {
    border: 0;
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    outline: none;
    transition: .2s linear;
}

.button:hover {
    opacity: 0.8;
}

.country {
    cursor: pointer;
    border-bottom: 1px solid var(--line);
    padding: 5px;
}

.statistics_wrapper {
    position: relative;
    width: 300px;
    background-color: var(--bg);
}

.menues>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.countries_wrapper {
    position: relative;
    width: 350px;
    background-color: var(--bg);
    color: var(--text);
}

.countries_container {
    height: calc(100vh - 250px);
    overflow-y: scroll;
}

.search {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.country>* {
    margin: 0 5px;
}

.confirmed {
    color: var(--confirmed);
}

.recovered {
    color: var(--revocered);
}

.deaths {
    color: var(--confirmed);
}

.active {
    color: var(--confirmed);
}

.country_name {
    color: var(--text);
}

.cur {
    background-color: var(--cur);
}

.flag {
    height: 1rem;
    width: 2rem;
}

span {
    background: transparent;
}

.button-arrow {
    width: 52px;
    height: 52px;
    border: 2px solid var(--text);
    box-sizing: border-box;
    border-radius: 50%;
    color: #292929;
    font-weight: 900;
}

.button-arrow:hover {
    background: var(--cur);
    border-color: var(--cur);
    cursor: pointer;
}

.right-container {
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 50%;
    background-color: var(--bg);
    padding: 10px;
    margin: 5px;
    color: var(--text);
}

.chart-container.error .error-message {
    display: block;
}

.chart-container.error .chart-canvas,
.chart-container.error .chart-navigation {
    display: none !important;
}

canvas.chartjs-render-monitor {
    color: var(--text);
    background-color: var(--bg);
}

.chart-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 10px;
}

.error-message {
    display: none;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
}

.table-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 50%;
    background-color: var(--bg);
    padding: 10px;
    margin: 5px;
    color: var(--text);
}

.table-container .statistics {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 30%;
}

.statistics__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    text-align: center;
    border: 1px solid var(--wrapper-bg);
    margin-right: 5px;
}

.statistics__item span:last-child {
    font-weight: bold;
    font-size: 1.4rem;
}

.statistics__item:nth-child(3) {
    margin-right: 0;
}


.legend img {
    color:var(--confirmed);
}

#map {
    width: 100%;
    height: 100%;
}

.info,
.map-control-button {
    padding: 6px 8px;
    font: 10px/12px Verdana, Geneva, Tahoma, sans-serif ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--white);
    opacity: 0.8;
    box-shadow: 0 0 15px var(--text);
    border-radius: 5px;
    cursor: pointer;
}

.map-control-button:hover {
    cursor: pointer;
   
    transform: scale(1.1);
    background-color: var(--hover);
}

.switch {
    position: relative;
    display: inline-block;
    min-width: 120px;
    width: 20%;
    height: 34px;
    margin: 10px;
}

.switch input {
    display: none;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 34px;
    padding: 0 8px;
    text-align: right;
    background-color: var(--cur);
    border-radius: 34px;
    transition: .4s;
}

.switch__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    border-radius: 50%;
    transition: .4s;
}

input:checked+.switch__slider {
    background-color: var(--cur);
    text-align: left;
}

input:focus+.switch__slider {
    box-shadow: 0 0 1px var(--cur);
}

input:checked+.switch__slider:before {
    left: calc(100% - 30px);
}

.container {
    padding: 15px;
    position: relative;
}

.fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
}

.fullscreenIcon {
    height: 30px;
    width: 30px;
}

.fullscreenToggle {
    visibility: hidden;
    position: absolute;
    background: var(--text);
    border-radius: 50%;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}

.invis {
    visibility: visible;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: var(--bg);
    border: 1px solid var(--wrapper-bg);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
    z-index: 9999;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active,
.keyboard__key.active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #ffffff;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

@media (max-width: 960px) {
    .keyboard__key {
        height: 30px;
        width: 5%;
        font-size: 0.6rem;
    }

    .keyboard__key--wide {
        width: 9%;
    }

    .keyboard__key--extra-wide {
        width: 36%;
    }

    .material-icons {
        font-size: 1.2rem;
    }

    .keyboard__key--activatable::after {
        top: 3px;
        right: 3px;
        width: 8px;
        height: 8px;
    }
}